<!DOCTYPE html>
<html>
<body>

<!-- @TODO: single script import -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.7/theme-chalk/index.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.7/index.min.js"></script>
<script src="https://supervisely-ecosystem.github.io/supervisely-app-frontend-js/SlyApp.js" type="module"></script>


<div id="sly-app">
    <!-- @TODO: hide url - use default -->
    <sly-app :url="document.location.href">
        <template v-slot="{ post, state, data }">
            <div>{{ data.max }}</div>
            <div>Hello random user: {{ state.name }}</div>
            <el-button type="primary" @click="post('/generate')">Get name (post response)</el-button>
            <el-button type="primary" @click="post('/generate-ws')">Get name (websocket)</el-button>
            <el-button type="primary" @click="post('/sync-generate')">Get name (sync)</el-button>
            <div style="margin-top: 10px;">
                <el-button type="danger" @click="post('/sly/shutdown')">Shutdown app (sly endpoint)</el-button>
            </div>
            <div style="margin-top: 10px;">
                <el-button type="danger" @click="post('/do-then-shutdown')">Do custom things and then shutdown programmatically</el-button>
            </div>
            <div style="margin-top: 10px;">
                <div>State counter: {{state.counter}}</div>
                <el-button type="primary" @click="post('/count-state')">Count state var from 0 to 10</el-button>
            </div>
            <div style="margin-top: 10px;">
                <div>Data counter: {{data.counter}}</div>
                <el-button type="primary" @click="post('/count-data')">Count data var from 0 to 10</el-button>
            </div>
        </template>
    </sly-app>
</div>

</body>
</html>
