<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="https://supervise.ly/sly-app-widgets-2.1.6.bundle.css">
</head>
<body>

    
<script src="https://supervise.ly/sly-app-widgets-2.1.6.bundle.js"></script>
<script>
  window.Vue = sly.Vue;
</script>
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.0.4/dist/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/gh/supervisely-ecosystem/supervisely-app-frontend-js@v0.0.18/SlyApp.js" type="module"></script>


<div id="sly-app">
    <sly-app :url="document.location.href">
        <template v-slot="{ post, state, data }">
            <div>{{ data.max }}</div>
            <div>Hello random user: {{ state.name }}</div>
            <el-button type="primary" @click="post('/generate')">Get name (post response)</el-button>
            <el-button type="primary" @click="post('/generate-ws')">Get name (websocket)</el-button>
            <el-button type="primary" @click="post('/sync-generate')">Get name (sync)</el-button>
            <div style="margin-top: 10px;">
                <el-button type="danger" @click="post('/sly/shutdown')">Shutdown app (sly endpoint)</el-button>
            </div>
            <div style="margin-top: 10px;">
                <el-button type="danger" @click="post('/do-then-shutdown')">Do custom things and then shutdown programmatically</el-button>
            </div>
            <div style="margin-top: 10px;">
                <div>State counter: {{state.counter}}</div>
                <el-button type="primary" @click="post('/count-state')">Count state var from 0 to 10</el-button>
            </div>
            <div style="margin-top: 10px;">
                <div>Data counter: {{data.counter}}</div>
                <el-button type="primary" @click="post('/count-data')">Count data var from 0 to 10</el-button>
            </div>
        </template>
    </sly-app>
</div>

</body>
</html>
